<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
  <div class="account-login">
    @if (error) {
      <nz-alert [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg" />
    }
    <nz-form-item>
      <nz-form-control nzErrorTip="请输入用户名: admin 或 user">
        <nz-input-group nzSize="large" nzPrefixIcon="user">
          <input nz-input formControlName="userName" placeholder="用户名: admin 或 user" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="请输入密码: zkbw.com">
        <nz-input-group nzSize="large" nzPrefixIcon="lock">
          <input nz-input type="password" formControlName="password" placeholder="密码: zkbw.com" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </div>
  <nz-form-item>
    <nz-col [nzSpan]="12">
      <label nz-checkbox formControlName="remember">自动登录</label>
    </nz-col>
    <nz-col [nzSpan]="12" class="text-right">
      <a class="forgot" routerLink="/passport/register">忘记密码</a>
    </nz-col>
  </nz-form-item>
  <nz-form-item>
    <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="loading" nzBlock>
      登录
    </button>
  </nz-form-item>
</form>
<div class="other">
  <a class="register" routerLink="/passport/register">注册账户</a>
</div>
