<page-header [title]="'用户管理'" />
<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="getData()" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label>关键词</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="q.keyword" name="keyword" placeholder="用户名/姓名/手机号" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label>状态</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="q.status" name="status" [nzPlaceHolder]="'请选择'" [nzShowSearch]="true">
              @for (i of status; track $index) {
                <nz-option [nzLabel]="i.text" [nzValue]="i.index" />
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      @if (expandForm) {
        <div nz-col nzMd="8" nzSm="24">
          <nz-form-item>
            <nz-form-label>所属机构</nz-form-label>
            <nz-form-control>
              <input nz-input [(ngModel)]="q.org_code" name="org_code" placeholder="请输入" />
            </nz-form-control>
          </nz-form-item>
        </div>
      }
      <div nz-col [nzSpan]="expandForm ? 24 : 8" [class.text-right]="expandForm">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">查询</button>
        <button nz-button type="button" (click)="reset()" class="mx-sm">重置</button>
        <a (click)="expandForm = !expandForm">
          {{ expandForm ? '收起' : '展开' }}
          <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
        </a>
      </div>
    </div>
  </form>
  <button nz-button (click)="add(modalContent)" [nzType]="'primary'">
    <i nz-icon nzType="plus"></i>
    <span>新建</span>
  </button>
  @if (selectedRows.length > 0) {
    <button nz-button nz-dropdown [nzDropdownMenu]="batchMenu" nzPlacement="bottomLeft">
      批量操作
      <i nz-icon nzType="down"></i>
    </button>
    <nz-dropdown-menu #batchMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="deleteUser(selectedRows)">批量删除</li>
      </ul>
    </nz-dropdown-menu>
  }
  <div class="my-md">
    <nz-alert [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
      <ng-template #message>
        已选择
        <strong class="text-primary">{{ selectedRows.length }}</strong> 项
        @if (selectedRows.length > 0) {
          <a (click)="st.clearCheck()" class="ml-lg">清空</a>
        }
      </ng-template>
    </nz-alert>
  </div>
  <st #st 
    [columns]="columns" 
    [data]="data"
    [loading]="loading"
    [total]="total"
    [page]="{ front: false, show: true, showSize: true }"
    (change)="stChange($event)">
    <ng-template st-row="status" let-i>
      <nz-badge [nzStatus]="i.status === 1 ? 'success' : 'default'" [nzText]="i.status === 1 ? '启用' : '禁用'" />
    </ng-template>
  </st>
</nz-card>

<ng-template #modalContent>
  <form nz-form>
    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired>用户名</nz-form-label>
      <nz-form-control [nzSpan]="19">
        <input nz-input [(ngModel)]="formData.username" name="username" placeholder="请输入用户名" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired>密码</nz-form-label>
      <nz-form-control [nzSpan]="19">
        <input nz-input type="password" [(ngModel)]="formData.password" name="password" placeholder="请输入密码" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired>姓名</nz-form-label>
      <nz-form-control [nzSpan]="19">
        <input nz-input [(ngModel)]="formData.real_name" name="real_name" placeholder="请输入姓名" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired>所属机构</nz-form-label>
      <nz-form-control [nzSpan]="19">
        <input nz-input [(ngModel)]="formData.org_code" name="org_code" placeholder="请输入机构编码" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="5">手机号</nz-form-label>
      <nz-form-control [nzSpan]="19">
        <input nz-input [(ngModel)]="formData.phone" name="phone" placeholder="请输入手机号" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="5">邮箱</nz-form-label>
      <nz-form-control [nzSpan]="19">
        <input nz-input [(ngModel)]="formData.email" name="email" placeholder="请输入邮箱" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="5">状态</nz-form-label>
      <nz-form-control [nzSpan]="19">
        <nz-switch [(ngModel)]="formData.status" name="status" [nzCheckedChildren]="'启用'" [nzUnCheckedChildren]="'禁用'" />
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template> 