@if (error) {
  <nz-alert [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg" />
}

<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
  <nz-form-item>
    <nz-form-control [nzErrorTip]="'请输入用户名!'">
      <nz-input-group nzSize="large" nzPrefixIcon="user-outlined">
        <input nz-input formControlName="username" placeholder="用户名" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="'请输入密码!'">
      <nz-input-group nzSize="large" nzPrefixIcon="lock-outlined">
        <input nz-input type="password" formControlName="password" placeholder="密码" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <div nz-row class="d-flex justify-content-between">
        <div nz-col>
          <label nz-checkbox formControlName="remember">
            <span>记住我</span>
          </label>
        </div>
        <div nz-col>
          <a class="forgot" routerLink="/passport/register">注册账号</a>
        </div>
      </div>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="loading" nzBlock>
      登录
    </button>
  </nz-form-item>
</form>
<div class="other">
  <button nz-button nzType="link" nzSize="large" (click)="testBackend()" [nzLoading]="testLoading">
    测试后端连接
  </button>
</div>
